body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

div.grid-container {
    display: grid;
    background-color: #FFAA00;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: auto auto auto auto auto;
}

.grid-container .elevator-window.elevator-ceiling {
    background-color: #4CAF50;
}

.grid-item {
}

.building-info div button {
    margin: 10px;
}

.building-info div {
    outline: none;
    font-size: 16px;
    color: rgb(112, 112, 112);
}

.banner-item {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    top: 5px;
    font-size: 40px;
    background-image: url("../images/gold-tex.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 华文行楷, serif;
    font-weight: bolder;
}

#g-panel-content {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 20;
    display: grid;
    margin: 0 auto;
    height: auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
}

.g-container {
    position: relative;
    display: grid;
    margin: auto;
    background-color: #4CAF50;
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 70px 20px 170px 25px 20px 170px 25px;
}

.g-take-place {
}

.panel-side {
    visibility: hidden;
}

#g-panel-body {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: 170px 170px 170px 170px 170px;
    grid-template-rows: auto;
}

.g-content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-rows: auto;
}

.item {
    font-size: 2em;
    text-align: center;
}

.item-1 {
    background-color: #ef342a;
}

.item-2 {
    background-color: #f68f26;
}

.item-3 {
    background-color: #4ba946;
}

.item-4 {
    background-color: #0376c2;
}

.item-5 {
    background-color: #c077af;
}

.item-6 {
    background-color: #f8d29d;
}

.item-7 {
    background-color: #b5a87f;
}

.item-8 {
    background-color: #d0e4a9;
}

.item-9 {
    background-color: #4dc7ec;
}

.head-info {
    margin: 30px;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    color: rgb(112, 112, 112);
}

.change_building-button {
}

.building-info {
}

#panel_body td {
    padding: 3px;
}

@font-face {
    font-family: 'UnidreamLED';
    src: url(../lib/UnidreamLED/UnidreamLED.eot);
    src: url(../lib/UnidreamLED/UnidreamLED.eot?#iefix) format('embedded-opentype'), url('../lib/UnidreamLED/UnidreamLED.woff') format('woff'),
    local('UnidreamLED'), url("../lib/UnidreamLED/UnidreamLED.woff");
}

.choose-floor-prompt {
    width: 40px;
    position: relative;
    display: inline-block;
    left: -8%;
    font-size: 30px;
    bottom: 24%;
    color: #1c1c1c;
    text-align: center;
    transform: translate(25%, 0%);
}

.choose-floor-promp .a {
    writing-mode: unset;
}

.elevator-info {
    height: 50px;
    width: 100%;
    position: relative;
}

.g-elevator-info {
    display: grid;
    width: 100%;
}

#panel_body tr td:first-child {
    visibility: hidden;
}

#panel_body tr td:last-child {
    visibility: hidden;
}

.now-floor-info {
    display: inline-block;
    font-size: 40px;
    position: relative;
    padding-right: 4px;
    text-align: center;
    height: 100%;
    width: 56%;
    right: -6%;
    background-color: #1c1c1c;
    color: #ff0000;
}

.floor-number {
    display: inline-block;
    font-family: 'UnidreamLED';
    position: absolute;
    width: 60%;
    right: 0;
}

.elevator-direction {
    display: block;
    font-size: 33px;
    position: absolute;
    height: 100%;
    width: 40%;
    left: 10%;
    top: 8%;
    font-weight: bolder;
}

.floor-info-decoration {
    width: 90%;
    height: 90%;
    font-family: Georgia;
    border: #fdfdfe 2px solid;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.elevator-window.choose-floor-block {
    background-image: url("../images/panel-tex5.png");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    border: #1c1c1c solid;
    border-radius: 10px;
}

.foot-info {
    position: absolute;
    z-index: 233;
    left: 50%;
    transform: translate(-50%, 0);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.content {
    position: relative;
    left: 50%;
}

.elevator-window {
    position: relative;
    background-image: url("../images/wall5.jpg");
}

.elevator-window.ceiling {
    background-image: url("../images/ceiling3.jpg");
    background-size: auto 100%;
}

.top-floor {
}

.building-head {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    height: 60px;
    z-index: 30;
}

.building-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 45px;
    background-image: url("../images/gold-tex.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 华文行楷, serif;
    font-weight: bolder;
}

.elevator-window.ceiling.ground {
    background-image: url("../images/ceiling3.jpg");
    background-size: auto 100%;
}

.blanket {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/blanket2.jpg");
    background-size: 100% 70%;
    background-position: center center;
    background-repeat: repeat-x;
}

.elevator-indoor-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: fill;
}

.elevator-window.elevator-ceiling {
}

.elevator-crane {
    position: relative;
    top: 60%;
    width: 50%;
    left: 60%;
    transform: translate(-50%, 0);
    height: 5px;
    background: #4CAF50;
    visibility: hidden;
}

.head-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 5px;
}

.elevator-choose-take {
    position: absolute;
    left: 10px;
    font-size: 10px;
    background: white;
}

.elevator-window:first-child {
}

.elevator-window:last-child {
}

.potting {
    position: absolute;
    left: 65%;
    bottom: 0;
    transform: translate(-50%, 10%);
    height: 60%;
    width: auto;
    z-index: 30;
}

.floor-symbol {
    position: absolute;
    left: 65%;
    top: 4%;
    transform: translate(-50%, 0);
    font: 4em Helvetica;
    background-image: url("../images/gold-tex.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: orange;
    font-weight: bolder;
}

.elevator-choose-take.choose-up {
    top: 45%;
    transform: translate(0, -50%);
}

.elevator-choose-take.choose-down {
    top: 61%;
    transform: translate(0, -50%);
}

.elevator-door {
    position: absolute;
    height: 100%;
    z-index: 20;
    width: 50%;
    background: #75808e;
    opacity: 85%;
}

.elevator-door.door-left {
    left: 0;
    background-image: url("../images/door-left.jpg");
    background-size: 100% 100%;
}

.elevator-door.door-right {
    right: 0;
    background-image: url("../images/door-right.jpg");
    background-size: 100% 100%;
}

.elevator-body.elevator-outdoor {
    background-image: none;
}

.elevator-body.elevator-main {
    opacity: 75%;
    z-index: 5;
}

.elevator-line {
    width: 8px;
    position: relative;
    left: 50%;
    top: 0;
    height: 670px;
    transform: translate(-50%, -100%);
    background-image: url("../images/cord-2.png");
    background-size: 100% 100%;
    opacity: 100%;
}

.elevator-body {
    width: 65%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 30%;
    background-image: url("../images/indoor2.png");
    background-size: 100% 100%;
    margin: 0 auto;
}

.building-bg {
    top: 3px;
}

#panel_body tr td {
}

.choose-floor-block {
    padding: 3px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

.choose-floor-block .choose-floor-button {
    padding: 5px;
    margin: 2px;
    font-size: 10px;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
}

.take-place-hidden {
    visibility: hidden;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.g-panel-item-wrapper {
    padding: 1px;
}

.btn:focus {
    box-shadow: none !important;
}

div.take-place {
}

.btn-circle.elevator-choose-take {
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 8px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
}

.open-close-buttons {
    margin-top: 5px;
}

.btn-circle.open-close {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
